#next-box,
#sub-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#next,
#submit {
  z-index: 3;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 75px;
}

#next-butt,
#sub-butt {
  position: relative;
  z-index: 2;
}

#sign-in-form {
  display: none;
  justify-content: center;
  align-items: center;
}
